h1 {
    text-align: center;
    size: 100;
    background-color: rgba(36, 19, 19, 0.666);
    font-family:serif;
    color: white;
    color-interpolation-filters: linearRGB;
    border-radius: 15px;

}